/*comments*/

p {
	color: gold;
        font-family: 'Tangerine', serif;
        font-size: 48px;
}

/*div {
	height: 100%;
	margin: 0;
	justify-content: center;
}*/

img {
	max-width: 100%;
	max-height: 100%;
}

