/*comments*/

@font-face {i
	font-family: 'open_sans', 'Arial';
	src: url('fonts/OpenSans-BoldItalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: '1942_report1942_report';
	src: url('fonts/1942-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


/*----------------------------------------------------*/
.cc {
	color: gray;
	font-size: 24px
}


p {
	color: black;
        font-family: '1942_report1942_report';
        font-size 48px;
}

/*div {
	height: 100%;
	margin: 2px;
}
*/
img {
	max-width: 100%;
	max-height: 100%;
	border: 5px;
}

h1, h2 {
	color: orange;
	text-align: center;


}

/*PSEUDO-CLASS selectors:

* **:hover** - Selects an element when the mouse is hovering over it. For example, the following CSS rule will change the color of all `<a>` elements to red when the mouse is hovering over them:

```
a:hover {
  color: red;
}
```

* **:active** - Selects an element when it is being clicked. For example, the following CSS rule will change the background color of all `<button>` elements to green when they are being clicked:

```
button:active {
  background-color: green;
}
```

* **:focus** - Selects an element when it has focus. For example, the following CSS rule will change the border color of all `<input>` elements to blue when they have focus:

```
input:focus {
  border-color: blue;
}
```

* **:visited** - Selects an element that has been visited by the user. For example, the following CSS rule will change the color of all `<a>` elements that have been visited to purple:

```
a:visited {
  color: purple;
}
```

* **:link** - Selects an element that has not been visited by the user. For example, the following CSS rule will change the color of all `<a>` elements that have not been visited to blue:

```
a:link {
  color: blue;
}
```

These are just a few examples of pseudo-class selectors. There are many more available, and you can find more information on the W3Schools CSS Pseudo-classes: https://www.w3schools.com/css/css_pseudo_classes.asp page.

 */

html {
  background-color: #00539f;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: gray;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

